<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Cuerpo</th>
        </tr>
    </thead>
    <tbody>
        @for (post of posts; track post.id) {
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    <button (click)="mostrarContenido(post.body)" class="btn btn-primary">
                        🔍
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
