<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>Menu</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" (click)="irATarjetas()">Tarjetas</button>
                        <button class="btn btn-secondary" (click)="irATabla()">Tabla</button>
                    </div>
                    
                                                           
                </ul>
            </div>
        </div>
    </div>
</div>
